.r-container{
    overflow: hidden;
    position: relative;
}
.r-head{
    margin-bottom: 2rem;
    /* position: relative; */
}

.swiper-horizontal{
    overflow: visible;
    /* position: relative; */
}

.r-button{
    /* position: absolute; */
    /* position : absolute; */
    gap: 1rem;
    top: -4rem;
    right: 0;

    
}
.r-button button{
  
    font-size: 1.2rem;
    padding: 0.2rem 0.8rem;
    color: blue;
    border: none;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}
.r-button button:active{
    background: red;
}